
.userList{
    flex: 4;
    margin: 1% 1%;
    -webkit-box-shadow: 0px 0px 11px -1px #FFC520;
    box-shadow: 0px 0px 20px -1px #FFC520;
}

.viewUsersContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 2%;
}

.viewUsersTable {
    max-height: 680px;
    margin: 1% 1%;
    min-width: 600px;
}

.userRegister{
    border: none;
    border-radius: 10px;
    padding: 8% 20%;
    background-color: orange;
    cursor: pointer;
    margin-right: 25px;
}
.userUpdate{
    border: none;
    border-radius: 10px;
    padding: 8% 20%;
    background-color: orange;
    cursor: pointer;
    margin-right: 25px;
}
.userDelete{
    border: none;
    border-radius: 10px;
    padding: 8% 20%;
    background-color: orange;
    cursor: pointer;
    margin-right: 25px;

}

