.updateProgram{
    flex:4 ;
    padding: 2%;
}
.updateProgramTitleContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.updateProgramContainer {
    display: flex;
    margin-top: 1%;
}
.programDetailsTitle {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2%;
}
.uploadIncentiveTitle {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2%;
}
.uploadProgramTitle {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2%;
}
.updateProgramForm {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.updateIncentiveForm {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.programUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
}
.updateIncentiveItem{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
}
.updateProgramDetails {
    flex: 1;
    padding: 1%;
    -webkit-box-shadow: 1px 1px 15px -1px #FFC520;
    box-shadow: 1px 1px 15px -1px #FFC520;
    border: solid orange 2px;
    height:550px
}

.updateProgramLeft{
    font-size: 18px;
}
.updateIncentiveContainer {
    flex:1;
    padding: 1%;
    height: 550px;
    -webkit-box-shadow: 0px 0px 11px -1px #FFC520;
    box-shadow: 0px 0px 11px -1px #FFC520;
    margin-left: 2%;
    border: solid orange 2px;
}

.programUpdateItem>label{
    margin-bottom: 2%;
    font-size: 20px;
}

.updateIncentiveItem>label{
    margin-bottom: 2%;
    font-size: 20px;
}

.programUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid grey;
}

.incentiveUpload{
    display: flex;
    cursor: pointer;
    margin-top:45%;
    flex: 1;
    position: relative;
    right: 37%;
}
.incentiveUpload>label{
    font-size: 20px;
    margin-right: 3%;
}
.programUpdateCheckBox {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 1%;
    position: relative;

}
.programUpdateButton {
    border: none;
    margin-top: 85%;
    border-radius: 5px;
    cursor: pointer;
    padding: 1%;
    width: 35%;
    height: 50px;
    background-color: orange;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

