.viewProgram{
    flex:4 ;
    padding: 2%;
}
.viewProgramTitleContainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.viewProgramContainer {
    display: flex;
    margin-top: 1%;
}
.programDetailsTitle {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2%;
}
.uploadIncentiveTitle {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2%;
}
.viewProgramForm {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.viewIncentiveForm {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
.programViewItem{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.viewIncentiveItem{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
}
.viewProgramDetails {
    flex: 1;
    padding: 1%;
    -webkit-box-shadow: 1px 1px 15px -1px #FFC520;
    box-shadow: 1px 1px 15px -1px #FFC520;
    border: solid orange 2px;
    height:550px;
}

.viewProgramLeft{
    font-size: 18px;
}
.viewIncentiveContainer {
    flex:1;
    padding: 1%;
    height: 550px;
    -webkit-box-shadow: 1px 1px 15px -1px #FFC520;
    box-shadow: 1px 1px 15px -1px #FFC520;
    margin-left: 2%;
    border: solid orange 2px;
}

.programViewItem>label{
    margin-bottom: 2%;
    font-size: 20px;
}

.viewIncentiveItem>label{
    margin-bottom: 2%;
    font-size: 20px;
}

.programUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid grey;
}

.incentiveNFT{
    display: flex;
    cursor: pointer;
    width: 40%;
    height: 140px;
    border: solid orange 2px;
}
.incentiveUpload>label{
    font-size: 20px;
}
.programViewCheckBox {
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    position: relative;

}
.programBackButton {
    border: none;
    margin-top: 30%;
    margin-bottom: 5%;
    border-radius: 5px;
    cursor: pointer;
    padding: 1%;
    width:75%;
    height: 50px;
    background-color: orange;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.uploadIncentiveIcon{
    border: solid;
    margin-left: 1%;
}

.programCriteria>label {
    font-size: 20px;
}

.programCriteria {
    margin-top: 5%;
    border-style: solid;
    border-collapse: separate;
    border-color: orange;
    border-radius: 10%;
    border-spacing: 10px;
}

